


#title-area{
  padding-top: 140px;
  padding-bottom: 140px;
}

.include-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;}



@media (max-width: 575px) {
  .ex-hero-team-area {
    padding: 150px 0;
  }
}
.ex-hero-team-title {
  font-size: 125px;
  font-family: 'graffiti';
  line-height: 1.3;
  color: #20211d;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.44);
}


.ex-hero-team-subtitle{
  font-size: 20px;
  font-family: 'raleway', sans-serif;
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ex-hero-team-title {
    font-size: 95px;
  }
  .ex-hero-team-subtitle{
    font-size: 16px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
  .ex-hero-team-title {
    font-size: 75px;
  }
  .ex-hero-team-subtitle{
    font-size: 13px;
  }
}

.ex-hero-team-overlay {
  position: relative;
}
.ex-hero-team-overlay::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 3, 32, 0.06);
}


/*----------------------------------------*/
/*  15. Team CSS START
/*----------------------------------------*/
/*------------------------
    Team Styles 
----------------------*/
.team-area{
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #20211d;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .team-area{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px){
  .team-area{
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media (max-width: 576px){
  #ex-team-wrapper{
    width: 50%;
  }
}

.ex-team {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#artist-images{
  justify-content: center;
}

.ex-team a {
text-decoration: none;
}

.ex-team-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}
.ex-team-thumbnail img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  transform: scale(1.1) translateZ(0);
  backface-visibility: hidden;
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.ex-team-thumbnail::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(28, 153, 254, 0) 30%, #c84727dc 65%);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.ex-team-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 12;
}
.ex-team-title {
  font-size: 25px;
  color: white;
  font-weight: 600;
  font-family: 'raleway', sans-serif;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
}

.ex-team-designation {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  color: white;
  margin-bottom: 10px;
  font-family: 'raleway', sans-serif;
  letter-spacing: 1.3px;
}

@media (max-width: 768px){
  .ex-team-title{
    font-size: 15px;
  }

  .ex-team-designation{
    font-size: 12px;
  }
}

@media (max-width: 576px){
  .ex-team-title{
    font-size: 15px;
  }
  .ex-team-designation{
    font-size: 12px;
  }
}

@media(hover:none){
  .ex-team-content {
    visibility: visible;
    opacity: 1;
    bottom: 10px;
  }

  .ex-team-title{
    margin-bottom: 10px;
  }

  .ex-team-thumbnail::before{
    visibility: visible;
    opacity: 1;
    background: linear-gradient(rgba(28, 153, 254, 0) 30%, #16161683  65%);
  }
}

@media(hover:hover){

.ex-team:hover .ex-team-content {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
}

.ex-team:hover .ex-team-thumbnail img{
  transform: scale(1) translateZ(0);
  border-radius: 10px;
}

.ex-team:hover .ex-team-thumbnail::before {
  visibility: visible;
  opacity: 1;
}

}




