

.logo-container {
  display: flex;
  justify-content: center;
}
.hero-logo {
  width: 800px;
  height: auto;
}

.hero-fullscreen {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.hero-bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-bg video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.hero-fullscreen-FIX {
  width: 100%;
  height: 100%;
}

.overlay:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.overlay-dark-70:before {
  background: rgba(0, 0, 0, 0.075);
}

.overlay-dark-70:before {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
@media (max-width: 768px){
  .hero-logo{
    width: 550px;
  }
}
@media (max-width: 576px) {
  .hero-logo{
    width: 300px;
  }
}

.center-container {
  position: absolute;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.center-block {
  display: table-cell;
  vertical-align: middle;
}


.scroll-down-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;}



.arrow-field {
  display: flex;
  align-items: center;
  
}

.box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

#about {
  background-color: #20211d;
  padding-top: 125px;
  padding-bottom: 200px;
  position: relative;
}
.tp-sub-title {
  font-family: "graffiti";
  font-size: 70px;
  text-transform: uppercase;
  color: #c84c27;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-bottom: 40px;
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.44);
}

.tp-title {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.2;
}

@media (max-width: 576px) {
  #about {
    padding-top: 40px;
    padding-bottom: 100px;
    padding-inline: 30px;
  }

  .tp-sub-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .tp-title {
    font-size: 20px;
  }
}

#campaign-ad {
  margin-top: 140px;
}

@media (max-width: 576px) {
  #campaign-ad {
    margin-top: 75px;
  }
}

#committees {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 125px;
  padding-bottom: 125px;
  position: relative;
}

.committee-sub-title {
  font-family: "graffiti";
  font-size: 90px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-bottom: 40px;
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.44);
}

#committee-slider {
  flex-wrap: nowrap;
  justify-content: center;
}

#committee-card {
  width: 20%;
}

@media (max-width: 768px){
  #committees{
    background-attachment: scroll;
  }
  
  #committee-slider{
    flex-wrap: wrap;
    
  }

  #committee-card{
    width: 25%;
  }


}

@media (max-width: 576px) {
  #committees {
    padding-top: 40px;
    padding-bottom: 40px;
    background-attachment: scroll;
  }
  #committee-slider {
    flex-wrap: wrap;
    justify-content: center;
  }

  #committee-card {
    width: 48%;
  }

  .committee-sub-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.ex-team {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#artist-images {
  justify-content: center;
}

.ex-team a {
  text-decoration: none;
}

.ex-team-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.ex-team-thumbnail img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  transform: scale(1.1) translateZ(0);
  backface-visibility: hidden;
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}


.ex-team-thumbnail::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(28, 153, 254, 0) 30%, #c84727dc 65%);
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.ex-team-content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 12;
}
.ex-team-title {
  font-size: 18px;
  color: white;
  font-weight: 600;
  font-family: "raleway", sans-serif;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
}

@media (max-width: 768px){
  .ex-team-title{
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media (max-width: 576px) {
  .ex-team-title {
    font-size: 12px;
  }
}


.ex-team:hover .ex-team-content {
  visibility: visible;
  opacity: 1;
  bottom: 20px;
}

.ex-team:hover .ex-team-thumbnail img {
  transform: scale(1) translateZ(0);
  border-radius: 10px;
}

.ex-team:hover .ex-team-thumbnail::before {
  visibility: visible;
  opacity: 1;
}



.splide__pagination {
  top: 4.5em !important;
  left: 0;
  padding: 0 1em;
  position: relative !important;
  right: 0;
  z-index: 1;
  bottom: 0;
}

@media (max-width: 576px) {
  .splide__pagination {
    top: 1em !important;
  }
}

#event-details {
  background-color: #20211d;
  padding-top: 125px;
  padding-bottom: 125px;
  position: relative;
}

.sponsor-sub-title {
  font-family: "graffiti";
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 0.1em;
  display: inline-block;
  margin-bottom: 30px;
}

.home-sponsor-logo {
  width: 200px;
  height: auto;
  margin-inline: 15px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: "raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin-top: 50px;
  min-height: 3rem;
  padding: calc(0.975rem - 1px) calc(3.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button-5 a {
  text-decoration: none;
  color: #000000;
  transition: all 250ms;
}

@media(hover:none){
  .button-5{
    background-color: #c84727;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
}

@media(hover:hover){

.button-5:hover,
.button-5:focus {
  background-color: #c84727;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #fff;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:hover a {
  color: #ffffff;
}

.button-5:active {
  background-color: #20211d;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

}

@media only screen and (max-width: 768px) {
  .button-5 {
    padding: calc(0.675rem - 1px) calc(3.5rem - 1px);
    font-size: 14px;
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  #event-details {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-inline: 10px;
  }

  .sponsor-sub-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .home-sponsor-logo {
    width: 100px;
    margin-inline: 5px;
  }
}

#sponsor-container {
  padding-top: 50px;
}

#artist-page {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}

.artist-page-section-title a {
  text-decoration: none;
}

.artist-page-sub-title {
  font-family: "graffiti";
  font-size: 120px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-text-shadow: 0 0 50px transparent;
  -moz-text-shadow: 0 0 50px transparent;
  -ms-text-shadow: 0 0 50px transparent;
  -o-text-shadow: 0 0 50px transparent;
  text-shadow: 0 0 50px transparent;
  color: rgba(32, 33, 29, 0.288);
  overflow: visible;
}

@media (max-width: 768px){
  #artist-page {
    background-attachment: scroll;
  }}

@media (max-width: 576px){
  #artist-page {
    background-attachment: scroll;
  }
  
  .artist-page-sub-title{
    font-size: 90px;
  }
}


.artist-page-sub-title:hover {
  -webkit-text-shadow: 0 0 0px #20211d;;
  -moz-text-shadow: 0 0 0px #20211d;;
  -ms-text-shadow: 0 0 0px #20211d;;
  text-shadow: 0 0 0px #20211d;;
}

#artist-column{
  position: relative;
  min-height: 1px;
}

/* 42. animated text */
.animated-text-wrapper-l,
.animated-text-wrapper-r {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 220px;
  top: auto;
  left: 0;
  margin: -28px 0 -8px 0;
  z-index: 1;
  background-color: #c84727;
  overflow: hidden !important;
}

@media only screen and (max-width: 995px) {
  .animated-text-wrapper-l,
  .animated-text-wrapper-r {
    min-height: 120px;
    margin: -14px 0 -4px 0;
  }
}

.animated-text-l,
.animated-text-r {
  position: absolute;
  height: 220px !important;
  display: flex;
  white-space: nowrap;
  top: 30px;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@media only screen and (max-width: 995px) {
  .animated-text-l,
  .animated-text-r {
    height: 120px !important;
    top: 15px;
  }
}

.animated-text-l {
  left: 50%;
  -webkit-animation: animated-text-animation-l 40s linear infinite;
  animation: animated-text-animation-l 40s linear infinite;
}

.animated-text-r {
  right: 50%;
  -webkit-animation: animated-text-animation-r 40s linear infinite;
  animation: animated-text-animation-r 40s linear infinite;
}

.animated-text-l .animated-text-content-l,
.animated-text-r .animated-text-content-r {
  position: relative;
  display: block;
  width: 100%;
  line-height: 100%;
  height: 220px !important;
  white-space: nowrap;
  font-family: "graffiti";
  font-size: 190px;
  text-align: center !important;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  z-index: 1;
  text-shadow: 2px 0px 5px rgba(0, 0, 0, 0.44);
}

@media only screen and (max-width: 995px) {
  .animated-text-l .animated-text-content-l,
  .animated-text-r .animated-text-content-r {
    font-size: 120px;
  }
}

.animated-text-l .animated-text-content-l span,
.animated-text-r .animated-text-content-r span {
  color: #000000;
}

@supports ((text-stroke: 1px #5f5f5f) or (-webkit-text-stroke: 1px #5f5f5f)) {
  .animated-text-l .animated-text-content-l span,
  .animated-text-r .animated-text-content-r span {
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    text-shadow: none;
  }
}

@-webkit-keyframes animated-text-animation-l {
  0% {
    -webkit-transform: translate(-40%, 0%);
  }
  100% {
    -webkit-transform: translate(-60%, 0%);
  }
}
@keyframes animated-text-animation-l {
  0% {
    transform: translate(-40%, 0%);
  }
  100% {
    transform: translate(-60%, 0%);
  }
}

@-webkit-keyframes animated-text-animation-r {
  0% {
    -webkit-transform: translate(40%, 0%);
  }
  100% {
    -webkit-transform: translate(60%, 0%);
  }
}
@keyframes animated-text-animation-r {
  0% {
    transform: translate(40%, 0%);
  }
  100% {
    transform: translate(60%, 0%);
  }
}
